</div>
<div class="footer-padding">
  <footer style="text-align: center; position: sticky">
    <p>Made with ❤️ by <a href="trial">The Salary Software Team</a href></p>
  </footer>
</div>
</body>
</html>