<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PICT Pune Admin: Basic Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="../assets/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/helper.css" rel="stylesheet">
    <link href="../assets/assets/css/style.css" rel="stylesheet">
    
</head>

<body>

    


    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="index1">
                        <!-- <img src="../assets/assets/images/logo.png" alt="" /> --><span>PICT Pune</span>
                    </a></div>
                <ul>
                
                    <li><a href="index1"><i class="ti-home"></i>Dashboard</a></li>

                <li><a class="sidebar-sub-toggle"><i class="ti-user"></i> Employee <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="form-basic">Add Employee</a></li>

                    <li><a href="viewemployee">View All Employees</a></li>
                   
                </ul>
            </li>

            <li><a class="sidebar-sub-toggle"><i class="ti-arrow-up"></i> Allowances <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="viewallow">View Allowance</a></li>

                    <li><a href="allowances">Edit Allowances</a></li>
                   
                </ul>
            </li>

            <li><a class="sidebar-sub-toggle"><i class="ti-arrow-down"></i> Deductions <span
                class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
            <li><a href="viewdeductions">View Deductions</a></li>

            <li><a href="deductions">Calculations</a></li>
           
            </ul>
        </li>
        
        <li><a class="sidebar-sub-toggle"><i class="ti-arrow-down"></i> Other Deductions <span
            class="sidebar-collapse-icon ti-angle-down"></span></a>
            <ul>
        <li><a href="groupinsurance">Group Insurance</a></li>

        <li><a href="lateattendance">Late Attendance Deductions</a></li>

       <li><a href="miscellaneous">Miscellaneous Deductions</a></li>
        
        </ul>
    </li>
                
            <li><a class="sidebar-sub-toggle"><i class="ti-stats-down"></i>Leave Without Pay<span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="pay">Add LWP</a></li>

                    <li><a href="showlwp">Show LWP</a></li>
                   
                </ul>
            </li>

            <li><a class="sidebar-sub-toggle"><i class="ti-stats-up"></i>Advances<span
                class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="advances">Change Constants</a></li>

                    <li><a href="showadvances">Show Advance</a></li>
           
                </ul>
            </li>

            

            <li><a class="sidebar-sub-toggle"><i class="ti-stats-up"></i>Increment<span
                class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="table-export">Add Increments</a></li>

                    <li><a href="showincrement">Show Increment</a></li>
           
                </ul>
            </li>

            <li><a class="sidebar-sub-toggle"><i class="ti-arrow-up"></i>Differences<span
                class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="differences">Increment Difference</a></li>
                    <li><a href="otherdifferences">HRA and DDA Differences</a></li>
                </ul>
            </li>
                    

            <li><a class="sidebar-sub-toggle"><i class="ti-ticket"></i>Generate Salary<span
                class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="generatesalary">Generate Salary</a></li>
                    <li><a href="showSalary">Masterview</a></li>
                </ul>
            </li>

            <li><a class="sidebar-sub-toggle"><i class="ti-notepad"></i> Reports <span
                class="sidebar-collapse-icon ti-angle-down"></span></a>
        <ul>
            <li><a href="upload">Salary Slip</a></li>

            <li><a href="viewemployee">Register</a></li>
            <li><a href="viewemployee">Sheet</a></li>
            <li><a href="viewemployee">Salary Certificate</a></li>
            <li><a href="viewemployee">Form 16</a></li>
            <li><a href="annual salary">Annual salary</a></li>
            <li><a href="annual salary">Bank list</a></li>

        </ul>
    </li>   



                    <li><a href="/"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                   
                            <div class="header-icon">
                                <span class="user-avatar"><h3> Pune Institute Of Computer Technology,Pune</h3>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!-- jquery vendor -->
  <script src="../assets/assets/js/lib/jquery.min.js"></script>
  <script src="../assets/assets/js/lib/jquery.nanoscroller.min.js"></script>
  <!-- nano scroller -->
  <script src="../assets/assets/js/lib/menubar/sidebar.js"></script>
  <script src="../assets/assets/js/lib/preloader/pace.min.js"></script>
  <!-- sidebar -->

  <!-- bootstrap -->
  <script src="../assets/assets/js/lib/bootstrap.min.js"></script>
  <script src="../assets/assets/js/scripts.js"></script>
  <!-- scripit init-->

   

</body>