<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PICT Pune Admin: Basic Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="../assets/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/assets/css/lib/helper.css" rel="stylesheet">
    <link href="../assets/assets/css/style.css" rel="stylesheet">


    <style>
        .center {
            text-align: center;
        }
    </style>

</head>

<body>




    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="index1">
                    <img src="../assets/secure-icon.png" width ="20%" alt="" /><span>PICT Pune</span>
                    </a></div>
                <ul>

                    <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="true"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span></a>
                        <ul aria-expanded="true">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            <li><a href="./chart-chartjs.html">Chartjs</a></li>
                            <li><a href="./chart-chartist.html">Chartist</a></li>
                            <li><a href="./chart-sparkline.html">Sparkline</a></li>
                            <li><a href="./chart-peity.html">Peity</a></li>
                        </ul>
                    </li> -->

                    <li><a href="index1"><i class="ti-home"></i>Dashboard</a></li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-user"></i> Employee <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="form-basic">Add Employee</a></li>

                            <li><a href="viewemployee">View All Employees</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-arrow-up"></i> Allowances <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="ta">TA</a></li>
                            <li><a href="cca">CCA</a></li>
                            <li><a href="viewallow">View Allowance</a></li>

                            <li><a href="allowances">Edit Allowances</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-arrow-down"></i> Deductions <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>

                            <li><a href="deductions">Edit Deductions</a></li>
                            <li><a href="viewdeductions">View Deductions</a></li>

                            

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-arrow-down"></i> Other Deductions <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="groupinsurance">Group Insurance</a></li>

                            <li><a href="lateattendance">Late Attendance Deductions</a></li>
                            <li><a href="donations">Donations</a></li>
                            <li><a href="recoveryamount">Recovery Amount</a></li>
                            <li><a href="miscellaneous">Miscellaneous Deductions</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-stats-down"></i>Leave Without Pay<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="pay">Add LWP</a></li>

                            <li><a href="showlwp">Show LWP</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-stats-up"></i>Advances<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="advances">Add Advances</a></li>

                            <li><a href="showadvances">Show Advances</a></li>

                        </ul>
                    </li>

                    <!-- <li><a class="sidebar-sub-toggle"><i class="ti-stats-down"></i>TA<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="ta">Add TA</a></li>

                            

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-stats-down"></i>CCA<span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="cca">Add CCA</a></li>

                           

                        </ul>
                    </li> -->



                    <li><a class="sidebar-sub-toggle"><i class="ti-stats-up"></i>Increment<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="table-export">Add Increments</a></li>

                            <li><a href="showincrement">Show Increment</a></li>

                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-arrow-up"></i>Differences<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="differences">Increment Difference</a></li>
                            <li><a href="otherdifferences">HRA and DA Differences</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-stats-down"></i>Income Tax<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="addincometax">Add Income Tax</a></li>
                            <li><a href="incometax">Show Income Tax</a></li>
                        </ul>
                    </li>



                    <li><a class="sidebar-sub-toggle"><i class="ti-ticket"></i>Generate Salary<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>

                            <li><a href="final">Generate Salary</a></li>
                            <li><a href="showsalary">Show Gross Salary (Earnings)</a></li>
                            <li><a href="showfinaldeductions">Show Deductions and Net Salary</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-notepad"></i> Reports <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="upload">Salary Slip</a></li>

                            <li><a href="upload">Salary Register</a></li>
                            <li><a href="upload">Salary Sheet</a></li>
                            <li><a href="upload">Salary Certificate</a></li>
                            <li><a href="upload">Form 16</a></li>
                            <!-- <li><a href="upload">Annual salary</a></li>
            <li><a href="upload">Bank list</a></li> -->

                        </ul>
                    </li>



                    <li><a href="/"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" class="float-center">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-center">

                        <div class="header-icon" class="center">
                            <span class="user-avatar" style="text-align: center">
                                <h3>SCTR'S PUNE INSTITUTE OF COMPUTER TECHNOLOGY, PUNE</h3>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery vendor -->
    <script src="../assets/assets/js/lib/jquery.min.js"></script>
    <script src="../assets/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="../assets/assets/js/lib/menubar/sidebar.js"></script>
    <script src="../assets/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->

    <!-- bootstrap -->
    <script src="../assets/assets/js/lib/bootstrap.min.js"></script>
    <script src="../assets/assets/js/scripts.js"></script>
    <!-- scripit init-->



</body>