<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<h1 class="mt-4">Dashboard</h1>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>

<form method="post" action="/form-basic">
    <label for="start">Start date:</label>
    
    <input type="date" id="start" name="trip">
    <label for="start">Emp ID:</label>
    
    <input type="text" id="start" name="empID">
    
        <div>
          <button class="button large round success">Submit</button>
        </div>
    </form>
