<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>

<form method="post" action="/form-basic">
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start">

    <div>
      <button class="button large round success">Submit</button>
    </div>
</form>


const { trip-start } = JSON.parse(JSON.stringify(req.body));
console.log(trip-start)