<%- include('partials/header.ejs'); -%>
<body>

        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <h1>Hello, <span>Welcome Here</span></h1>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Add New Employee</h4>

                                </div>


                                <div class="card-body">
                                    <div class="horizontal-form-elements">
                                        <form class="form-horizontal" action="\addEmployee" method="post">
                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">Employee Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="empName" class="form-control"
                                                                placeholder="Enter Name">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">Email ID</label>
                                                        <div class="col-sm-10">
                                                        <input id="example-email" class="form-control" type="email" placeholder="admin@pict.edu" name="example-email">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">UAN</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="uan" class="form-control"
                                                                placeholder="UAN">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">Department</label>
                                                        <div class="col-sm-10">
                                                            <input type="radio" id="comp" name="dept" value="comp">
                                                              <label for="comp">Computer</label><br>
                                                              <input type="radio" id="IT" name="dept" value="IT">
                                                              <label for="IT">IT</label><br>
                                                              <input type="radio" id="entc" name="dept" value="entc">
                                                              <label for="entc">ENTC</label><br>
                                                              <input type="radio" id="accounts" name="dept" value="accounts">
                                                              <label for="entc">Accounts</label><br>
                                                              <input type="radio" id="admin" name="dept" value="admin">
                                                              <label for="entc">Admin</label><br>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">Designation</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" name="designation">
                                                                <!-- <option value="value" selected>Option Name</option> -->
                                                                <option value="professor" id="professor" selected>Professor</option>
                                                                <option value="associateprof" id="associateprof" selected>Associate Professor</option>
                                                                <option value="asstprof" id="asstprof" selected>Assistant Professor</option>
                                                                <option value="techasst" id="techasst" selected>Technical Assistant</option>
                                                                <option value="labasst" id="labasst" selected>Lab Assistant</option>
                                                                <option value="nonteaching" id="nonteaching" selected>Non Teaching</option>    
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">Salary Category</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" name="salaryCategory">
                                                                <!-- <option value="value" selected>Option Name</option> -->
                                                                <option value="consolidated" id="consolidated" selected>
                                                                    Consolidated</option>
                                                                <option value="payscale" id="payscale" selected>Pay
                                                                    Scale</option>

                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                    <!-- /# column -->
                                                    <!-- <div class="column"> -->
                                                    <div class="col-lg-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">Date of
                                                                Joining</label>
                                                            <div class="col-sm-10">
                                                                <input type="date" class="form-control" id="doj"
                                                                    name="doj">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">Bank Name</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="bankName" class="form-control"
                                                                    placeholder="Bank Name">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">Enter Account
                                                                No.</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="bankAccNum"
                                                                    class="form-control" placeholder="Acc No.">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">Basic Pay</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="pay" class="form-control"
                                                                    placeholder="Basic Pay">


                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">Grade Pay</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="gp" class="form-control"
                                                                    placeholder="Grade Pay">
                                                            </div>
                                                        </div>

                                                    <input type="submit"  value="Submit">

                                                    </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>
</body>

</html>