<%- include('partials/header.ejs'); -%>

<head>

<style>
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>
<script> const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
</script>
</head>



<body>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
        
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                         
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-calendar color-pink border-pink"></i>
                                    </div>
                                 
                                    
                                    <div class="stat-content dib">
                                        <div class="stat-text"><b>Month</b></div>
                                        
                                        <div class="form-group">
                                            <!-- <label class="col-sm-6 control-label">Select Month</label> -->
                                            <div class="col-sm-20">

                                        <form class="form-horizontal" action="\generatesalary" method="post">    
                                                <select class="form-control" name="month">                                                    
                                                    <option  id="demo" ></option>
                                                     <option  id="demo1" ></option>
                                              
                                                </select>
                                              
<script>
const d = new Date();
document.getElementById("demo").innerHTML = months[d.getMonth()];
document.getElementById("demo1").innerHTML = months[(d.getMonth()+1)%12];
</script>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-calendar color-pink border-pink"></i>
                                        
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text"> <b>Year</b></div>
                                        <div class="form-group">
                                            



                                                    
                                                   
                                            <!-- <label class="col-sm-6 control-label">Select Month</label> -->
                                            <div class="col-sm-20">
                                                <select class="form-control" name="year" > -->
                                                    <!-- <option value="value" selected>Option Name</option> -->
                                                     <option  id=yr1 ></option>
                                                    <option  id=yr2 ></option>
                                                    <option  id=yr3 ></option>
                                                   
                                                    </select>
                                                    <br>
                                                    <!-- <p id="yr"> </p> -->
                                                    
                                                    <script>
                                                    
                                                      var p = new Date();
                                                      var q = p.getFullYear(); 
                                                      document.getElementById("yr1").innerHTML = q;
                                                      document.getElementById("yr2").innerHTML = q+1;
                                                      document.getElementById("yr3").innerHTML = q+2;
                                                    
                                                    </script>  
                                                </div></div>

                                            </div>
                                        </div>
                                 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div></div>
                    

                    <div class="wrapper">
                        <br><br><br>
                        <input type="submit" class="btn btn-success btn-lg" value="Calculate Salary"><br>
                        <!-- <input type="submit" class="btn btn-success btn-lg" value="Submit"> -->
                    </div>
                   
                </form>


            </div>
        </div>
    </div> 


    <script src="../assets/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="../assets/assets/js/lib/weather/weather-init.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="../assets/assets/js/lib/chartist/chartist.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/dashboard2.js"></script>
</body>

</html>