<%- include('partials/header.ejs'); -%>

<head>

<style>
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>
</head>



<body>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
        
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                         
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-calendar color-pink border-pink"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Select Month</div>
                                        <div class="form-group">
                                            <!-- <label class="col-sm-6 control-label">Select Month</label> -->
                                            <div class="col-sm-20">

                                        <form class="form-horizontal" action="\generatesalary" method="post">    
                                                <select class="form-control" name="month">
                                                    <!-- <option value="value" selected>Option Name</option> -->
                                                    <option value="january" id="january" selected>January</option>
                                                    <option value="february" id="february" selected>February</option>
                                                    <option value="march" id="march" selected>March</option>
                                                    <option value="april" id="april" selected>April</option>
                                                    <option value="may" id="may" selected>May</option>
                                                    <option value="june" id="june" selected>June</option>    
                                                    <option value="july" id="july" selected>July</option>  
                                                    <option value="aug" id="aug" selected>August</option>    
                                                    <option value="sept" id="sept" selected>September</option>    
                                                    <option value="october" id="october" selected>October</option>    
                                                    <option value="november" id="november" selected>November</option>    
                                                    <option value="december" id="december" selected>December</option>   
                                                </select>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-calendar color-pink border-pink"></i>
                                        
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Select Year</div>
                                        <div class="form-group">
                                            <!-- <label class="col-sm-6 control-label">Select Month</label> -->
                                            <div class="col-sm-20">
                                                <select class="form-control" name="year">
                                                    <!-- <option value="value" selected>Option Name</option> -->
                                                    <option value="2021" id="2021" selected>2021</option>
                                                    <option value="2022" id="2022" selected>2022</option>
                                                    <option value="2023" id="2023" selected>2023</option>
                                                    <option value="2024" id="2024" selected>2024</option>
                                                    

                                                </select>
                                            </div>
                                        </div>
                                 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    

                    <div class="wrapper">
                        <br><br><br>
                        <!-- <button type="submit" value="Submit">Generate Salary</button> -->
                        <input type="submit" class="btn btn-success btn-lg" value="Submit">
                    </div>
                   
                </form>


            </div>
        </div>
    </div> 


    <script src="../assets/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="../assets/assets/js/lib/weather/weather-init.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="../assets/assets/js/lib/chartist/chartist.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/dashboard2.js"></script>
</body>

</html>