<%- include('partials/header.ejs'); -%>

<body>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Back Administrator!</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div>
            
                </div>
        
                <!-- <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-money color-success border-success"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Add Employee</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Add Salary</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-layout-grid2 color-pink border-pink"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Employee Details</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-link color-danger border-danger"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Attendance Percentage</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
      
                </section>  -->
            </div>
        </div>
    </div> 


    <script src="../assets/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="../assets/assets/js/lib/weather/weather-init.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="../assets/assets/js/lib/chartist/chartist.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/dashboard2.js"></script>
</body>

</html>