<%- include('partials/header.ejs',{role:role}); -%>
    <head>
        <link href="../assets/focus/vendor/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
        <!-- <link href="../assets/focus/vendor/chartist/css/chartist.min.css" rel="stylesheet">
    <link href="../assets/focus/css/style.css" rel="stylesheet"> -->
        <!-- <style>
        body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url("E:\khitijchanges\salarySoftware\assets\secure-icon.png");
    }

    .center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
    </style> -->

        <!-- <style>
        div {
  background-image: url("../assets/pictbg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  /* background-attachment: fixed; */
}
    </style>     -->

        <style>
            a.custom-card,
            a.custom-card:hover {
                color: inherit;
            }
        </style>
    </head>

    <body>

        <div class="content-wrap">
            <!-- background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;"> -->
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <p class="lead mb-2">Welcome <%= name %>
                                    </p>

                                </div>
                            </div>
                        </div>


                    </div>

                    <section id="main-content">
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="form-basic" class="custom-card">
                                    <div class="card">
                                        <div class="stat-widget-one">
                                            <div class="stat-icon dib"><a href="form-basic"><i
                                                        class="ti-user color-success border-success"></i></a>
                                            </div>
                                            <div class="stat-content dib">
                                                <div class="stat-text"><a href="form-basic">Add Employees</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="uploadcsv"><i
                                                    class="ti-view-list-alt color-primary border-primary"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="uploadcsv">Upload CSV</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="final"><i
                                                    class="ti-ticket color-pink border-pink"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="final">Generate Salary</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="upload"><i class="ti-notepad color-primary border-primary"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text">Salary Report</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- --------------------------------------------------------- -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="allowances"><i
                                                    class="ti-arrow-up color-success border-success"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="allowances">View Allowances</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="deductions"><i
                                                    class="ti-arrow-down color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="deductions">Deductions</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="advances"><i
                                                    class="ti-arrow-down color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="advances">Advances</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="table-export"><i class="ti-stats-up color-success border-success"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="table-export">Increment</div></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ------------------------------------------------------------------------ -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="groupinsurance"><i
                                                    class="ti-check-box color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib ">
                                            <div class="stat-text"><a href="groupinsurance">Group Insurance</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="lateattendance"><i
                                                    class="ti-arrow-down color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="lateattendance">Late Attendance </a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="donations"><i
                                                    class="ti-check color-pink border-pink"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="donations">Donations</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="miscellaneous"><i class="ti-bar-chart-alt color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="miscellaneous"><a href="miscellaneous">Miscellaneous Ded.</div></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- --------------------------------------------------------- -->

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="showlwp"><i
                                                    class="ti-info color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="showlwp">Leave Without Pay</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="differences"><i
                                                    class="ti-bar-chart color-primary border-primary"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="differences">Increment Diffrences</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="otherdifferences"><i
                                                    class="ti-layers color-pink border-pink"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="otherdifferences">HRA and DA</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-icon dib"><a href="ta"><i class="ti-pencil-alt color-danger border-danger"></i></a>
                                        </div>
                                        <div class="stat-content dib">
                                            <div class="stat-text"><a href="ta">TA CCA</div></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>


                </div>

                <div class="col-lg-4">
                    <!-- <div class="card">
                    <div class="card-body">
                       <div class="year-calendar"></div>

                <br><br><br>

                    </div>
                </div>  -->
                </div>
            </div>


        </div>

        <!-- <script src="../assets/assets/js/dashboard2.js"></script> -->
        <script src="../assets/focus/vendor/global/global.min.js"></script>
        <script src="../assets/focus/js/quixnav-init.js"></script>
        <script src="../assets/focus/js/custom.min.js"></script>

        <script src="../assets/focus/vendor/chartist/js/chartist.min.js"></script>

        <script src="../assets/focus/vendor/moment/moment.min.js"></script>
        <script src="../assets/focus/vendor/pg-calendar/js/pignose.calendar.min.js"></script>


        <script src="../assets/focus/js/dashboard/dashboard-2.js"></script>
    </body>

    </html>