<%- include('partials/header.ejs'); -%>

<head>
    <style>
        body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url("E:\khitijchanges\salarySoftware\assets\secure-icon.png");
    }
    </style>

</head>
<body>
    <!-- <img src="E:\khitijchanges\salarySoftware\assets\secure-icon.png" width = "1500" >

    <div style="background-image: url('img_girl.jpg');"></div> -->
    <!-- <div class="container">
        <img src="..\assets\cyber-security-icon.jpg" alt="pict" style="width:100%;">
      </div> -->

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Back Administrator!</span></h1>
                            </div>
                        </div>
                    </div>
                    
            
                </div>
        
                <section id="main-content"> 
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user color-success border-success"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Add Employees</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-view-list-alt color-primary border-primary"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">View Employees</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-ticket color-pink border-pink"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Generate Salary</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-notepad color-danger border-danger"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Salary Report</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
      
                </section> 
            </div>
        </div>
    </div> 


    <script src="../assets/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="../assets/assets/js/lib/weather/weather-init.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="../assets/assets/js/lib/chartist/chartist.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    
    <script src="../assets/assets/js/dashboard2.js"></script>
</body>

</html>