<%- include('partials/header.ejs'); -%>

<head>

<style>
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>
</head>



<body>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 p-r-1 title-margin-center">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>HELLO, GENERATE SALARY SLIP</h1>
                            </div>
                        </div>
                    </div>
                </div>
        
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                         
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <!-- <div class="stat-icon dib">
                                    </div> -->
                                    <div class="stat-content dib">
										<h4> Enter template & salary sheet </h4>
										<form action = "/started" method = "post" enctype="multipart/form-data">
											HTML Template Upload- <input type="file" name="templateSelected" accept=".html, .htm">
											<br> <br>
											Excel Sheet Upload - <input type="file" name="sheetSelected" accept=".xlsx, .xls, .csv"/>
											<br> <br>
                                            <button onclick="alert('The Mails of Salary slips have been sent')">Submit</button>
										</form> 
                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                      
                                 
                                </div>
                            </div>
                        </div>

                    </div>
                    

                    
                   
                </form>
            </div>
        </div>
    </div> 


    <script src="../assets/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="../assets/assets/js/lib/weather/weather-init.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="../assets/assets/js/lib/chartist/chartist.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="../assets/assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="../assets/assets/js/dashboard2.js"></script>
</body>

</html>